projects/team_2/app/src/__pycache__/
projects/team_2/app/__pycache__/
projects/team_2/app/api/__pycache__/
projects/team_2/app/src/data/
projects/team_2/app/src/summaries/
projects/team_2/app/src/targets/

