[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nltk = "*"
torch = "*"
flair = "*"
numpy = "*"
waitress = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
flake8-docstrings = "*"

[requires]
python_version = "3.8"
