<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/style.css" crossorigin="anonymous">
	<title>Document</title>
</head>

<body>

	<nav class="header">Extractive text summarization using PSO</nav>
	<div class="main">
		<div class="translation-box">
			<textarea id="input-text"
					placeholder="Enter the article">
			</textarea>
		</div>

		<button id="btn-translate">Summarize</button>
		<div id="translated-box">
			<textarea id="output-text"
				placeholder="Here you will se translated text">
			</textarea>
		</div>
	</div>
	<footer class="footer">Created with ♥ by Laura, Wojtek and Karol</footer>
	<script src="/scripts/summarize.js"></script>
</body>

</html>
